edit @model@_ver '@model_ver@'
edit PACKAGEHOME '@packageroot@/@model@.%@model@_ver%'
edit NET '@model@'
edit RUN '@model@'
edit PROJ '@proj@'
edit PROJENVIR '@proj@'
edit MACHINE_SITE '@machine_site@'
edit ENVIR '@envir@'
edit QUEUE '@queue@'
edit QUEUE_ARCH '@queue_arch@'
edit OUTPUTDIR '@outputdir@'